<h2>Upcoming Events</h2>
<h3>Check out where we will be stationed this month!</h3>

<center><iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=nriohjofi9c9qr318ica0vbs28%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=America%2FChicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe></center>


<div id="modalcontent" class="modal">
	<h3 class="fontm">Want to be in the loop for our latest events, promotions and specials?</h3>
	<input placeholder="email" id="useremail">
	<button class="button submit">Subscribe!</button>
	<button class="closeBtn">[X]</button>
</div>


<script src="TimeBasedModal.js"></script>