<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="Style1.css" />
	</head>
	  <body>
		<!--<div class="head"><img id="header" src="C:\Code Academy\Projects\Team Assignment\Assignment 1\FAV-Logo.png"></div>--> 
          <div class="Main-Links">
              <!--<a href="index.html">Find-A-Vet</a>
              <a href="Get-involved.html">Get-Involved</a>
              <a href="Stores.html">Stores</a>
              <a href="Education.html">Education</a>-->
          </div>
        </div>

        <!--<img src="C:\Code Academy\Projects\Team Assignment\Assignment 1\polaroids copy.png">-->

            <div class="Bold">
                <h1>Volunteering</h1>
            </div>   

        <ul>
            <li>Volunteering is a great way to help pets in need and meet other caring humans like you! There are a number of opportunities to lend a helping paw to shelters and rescue groups near you.</li>
            <li><a href="http://www.adoptapet.com/volunteer/opportunities/">Search for recent volunteer opportunities near you posted on Adopt-a-Pet.com.</a></li>
            </li>
            <li><a href="https://www.adoptapet.com/volunteer/signup">Sign up as a volunteer today to be find out how you can help shelters and rescue groups near you.</a></li>
        </ul>

            <div class="Bold">
                <h2>Social PETworking on Facebook and Twitter</h2>

        <ul>
            <li>You can save a life right now by helping shelter pets get seen on your favorite networking sites!</li>
            <li><a href="http://www.adoptapet.com/twitteracritter/">You can Twitter a Critter or share a pet on Facebook:</a></li>
            <li><a href="http://www.adoptapet.com/other-pet-adoption">Just use our site to search for a dog, cat, or other pet that needs a home.</a></li>
            <li>Choose a pet you want to help from the list and click to get their info.</li>
            <li>Then just click on the social media buttons to help the pet get seen and adopted!</li>
        </ul>
        
            <div class="Bold">
                <h3>Feature Pets on Your Personal or Business Website</h3>

        <ul>
            <li>Promote Adoption! Be the reason a homeless pet gets adopted!</li>
            <li><a href="https://www.adoptapet.com/public/searchtools/">Use one of our pet-search widgets to let users of YOUR website search for pets right from the site!</a></li>
            <li>OR</li>
            <li><a href="https://www.adoptapet.com/public/searchtools/pet-of-the-day">Highlight an adoptable pet at your local shelter by adding a "pet of the day" to your website!</a></li>
        </ul>
        
            <div class="Bold">
                <h4>Donate</h4>

        <ul>
            <li>Will homeless dogs and cats have a chance to find a home? For a homeless dog or cat, part of the problem is being seen, so that compassionate people like you know that they need a home! Your tax-deductible contribution gives them a chance to be noticed.</li>  
            <li><a href="https://web.charityengine.net/default.aspx?tsid=1599">Please Donate Today</a></li>
        
        </ul>    
    
    
       </body>
</html>