<form>
	<h1></h1>

	<div>
		<form method="post">
			<fieldset>
				<label for="name">Name:</label>
				<input type="text" name="title" id="title">
			</fieldset>
			<fieldset>
				<label for="content">Details:</label>
				<textarea></textarea>
			</fieldset>
			<input type="submit"
		</form>
	</div>

	<input type="text" name="name">
	<input
</form>
