<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="Style1.css" />
	</head>
     <body>
		    <!--<div class="head"><img id="header" src="C:\Code Academy\Projects\Team Assignment\Assignment 1\FAV-Logo.png"></div>
          <div class="Main-Links">
            <a href="index.html">Find-A-Vet</a>
            <a href="Get-involved.html">Get-Involved</a>
            <a href="Stores.html">Stores</a>
            <a href="Education.html">Education</a>-->
          </div>
        </div>

        <!--<img src="C:\Code Academy\Projects\Team Assignment\Assignment 1\images (3).jpg">-->

          <div class="Bold">
            <h1>About Us</h1>
          </div> 
          
        <ul>
          <li>We love our pets and getting them the best healthcare is important. That’s why we are the fastest and easiest way to connect with top veterinarians in your area. We can help you find the right pet doctor, whether your new puppy needs a check-up, your cat has an ear infection, or your furry friend needs an in-home visit. We have you covered and no matter what the need, your pet will be in good hands.</li>
          <li><a href="http://www.vetstreet.com/about">Read More</a></li>
        </ul>
        
          <div class="Bold">
            <h2>Benefits</div>
          </div> 
          
        <ul>
          <li>A healthy pet is a happy pet. The best way to keep your four-legged loved one feeling good is with regular visits to their veterinarian. We advise 1-2 visits per year depending on the age of your animal. It’s easy to meet the best veterinarians in your area and choose the one that’s perfect for your family.</li>
          <li><a href="http://www.vetstreet.com/learn/">Read More</a></li>
        </ul>
        
          <div class="Bold">
            <h3>Search by Specialty</h3>
          </div>

        <ul>
          <li><a href="http://www.vetstreet.com/find-a-veterinarian-animal-hospital/">Find A Vet</a></li>
          <li><a href="http://www.bluepearlpetemergency.com/New_York/New_York/Bluepearl_Emergency_Vet/Emergency_Vet/Ppc/">Emergency Services</a></li> 
          <li><a href="http://www.vetstreet.com/care/">Pet Care</a></li>
          <li><a href="http://www.vetstreet.com/learn/">Wellness Guide</a></li>
          <li><a href="http://www.vetstreet.com/healthypet">Healthy Pet</a></li>
          <li><a href="http://www.vetstreet.com/sitemap">More Services</a></li>
          <li><a href="http://www.vetstreet.com/contact-us">Contact Us</a></li>
        </ul> 

    </body>
</html>

