<h2>Please fill out the form below</h2>
<h3>Specify date, event/party size in the details and we will be in touch shortly!</h3>


<ul class="form-style-1">

    <li><label>Full Name <span class="required">*</span></label><input type="text" name="field1" class="field-divided" placeholder="First" />&nbsp;<input type="text" name="field2" class="field-divided" placeholder="Last" /></li>
    <li>
    <form method="POST" action="http://formspree.io/mjfloyd3@gmail.com">	
        <label>Email <span class="required">*</span></label>
        <input type="email" name="field3" class="field-long" />
    </li>
    <li>
        <label>Subject</label>
        <select name="field4" class="field-select">
        <option value="Event">Event</option>
        <option value="Catering">Catering</option>
        <option value="General Question">General</option>
        </select>
    </li>
    <li>
        <label>Details <span class="required">*</span></label>
        <textarea name="field5" id="field5" class="field-long field-textarea"></textarea>
    </li>
    <li>
        <input type="submit" value="Submit" />
    </li>
</ul>
</form>
