
<img src="ramon.jpg">





<div class="columnabt">

    <h2>In the News</h2>

<p>Chicago Tribune</p> <a class="link" href="http://www.chicagotribune.com/news/opinion/commentary/ct-chicago-food-truck-regulations-perspec-20160912-story.html">Commentary: What's with all the constant hatin' on food trucks?</a>

<p>Eater</p> <a class="link" href="https://chicago.eater.com/2016/8/18/12541848/best-new-food-trucks-chicago">6 Chicago Food Trucks To Try Now</a>

<p>People Food</p> <a class="link" href="http://people.com/food/best-taco-trucks-every-corner-america/">The 10 Best Taco Trucks in America (That We Wish Were on Every Corner)</a>

<p>TimeOut Chicago</p> <a class="link" href="https://www.timeout.com/chicago/restaurants/the-15-best-food-trucks-in-chicago">The 15 Best Food Trucks in Chicago</a>

<p>Thrillist</p> <a class="link" href="https://www.thrillist.com/eat/chicago/the-ultimate-chicago-food-truck-guide">The Ultimate Chicago Food Truck Guide</a>


</div>


<div class="columnpress">
    <h2>About</h2>

    <p>Aztec Dave's is a family owned and operated mobile food truck specializing in authentic Mexican cuisine. Established in 2015 by the Torres family, Aztec Dave's offers mobile catering services for special events and private parties for all occasions in the Chicago area. Please <a class="link" href="/contact">contact us</a> for any event/catering request you have! </p>
    <center>
    <img src="taco.png">
    <img src="truck.png">
    <img src="mexico.png"
	</center>

</div>



