<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Aztec Dave's</title>
<link rel="stylesheet" type="text/css" href="default.css">
</head>
<body>
<%= erb :nav %>
<%= yield %>
</body>
</html>

