<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Aztec Dave's</title>
<link rel="stylesheet" type="text/css" href="/css/default.css">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">


</head>
<body>
<%= erb :nav %>
<%= yield %>
</body>
</html>

