
<div class="menuleft">

	<center><p>**MENU SUBJECT TO CHANGE DEPENDING ON EVENT**</p></center><br>
	<center><p>Protein options: Pollo, Carne Asada, Al Pastor</p></center>

<h2 class="menuhead">Tacos................................................$2</h2>
<h3>
	<span>Vegetarian</span>
	
</h3>
<p>Beans, Rice, Lettuce, Tomato, Avocado, Sour Cream</p>

<h3>
	<span>Taco Gordo</span>
</h3>
<p>Beans, Rice and Meat</p>

<h3>
	<span>Taco Azteca</span>
</h3>
<p>2 proteins; Cilantro and Onions or Lettuce and Tomato</p>


<h2 class="menuhead">Burritos...........................................$5</h2>
<h3>Vegetarian</h3>
<p>Beans, Cheese, Lettuce, Tomato, Avocado, Sour Cream</p>

<h3>Burrito Gordo</h3>
<p>1 protein; Extra Rice and Meat</p>

<h3>Burrito Azteca</h3>
<p>Two Proteins, Beans, Cheese, Lettuce, Tomato, Avocado, Sour Cream</p>

<h2 class="menuhead">Sides................................................$2</h2>
<p>Chips and Salsa</p>
<p>Beans and Rice</p>

<h2 class="menuhead">Extras...........................................$.50</h2>
<p>Avocado</p>
<p>Cheese/Sour Cream</p>
</div>



<div class="menuright">

<h2 class="menuhead">Tortas.................................................$5</h2>
<h3><span>Vegetarian</span></h3>
<p>Beans, Cheese, Rice, Lettuce, Tomato, Avocado, Sour Cream</p>

<h3><span>Regular Torta</span></h3>
<p>1 protein; Beans, Cheese, Lettuce, Tomato, Avocado, Sour Cream</p>

<h3>
	<span>Torta Azteca</span>
</h3>
<p>2 proteins; Cilantro and Onions or Lettuce and Tomato</p>

<h2 class="menuhead">Drinks</h2>
<p>Coke, Diet Coke, Sprite, Orange Soda, Bottled Water.......$1<p>
<p>Jarritos, Sidral, Sangria............................................................................$2.50<p>

<img src="aztecbird.jpg"

</div>




