
<h2 class="tacos">Tacos</h2>
<h3>
	<span>Vegetarian</span>
	<span>2</span>
</h3>
<p>Beans, Rice, Lettuce, Tomato, Avocado, Sour Cream</p>

<h3>
	<span>Taco Gordo</span>
	<span>2</span>
</h3>
<p>Beans, Rice and Meat</p>

<h3>
	<span>Taco Azteca</span>
	<span>2</span>
</h3>
<p>2 proteins; Cilantro and Onions or Lettuce and Tomato</p>


<h2>Burritos</h2>
<h3>Vegetarian</h3>
<p>Beans, Cheese, Lettuce, Tomato, Avocado, Sour Cream</p>

<h3>Burrito Gordo</h3>
<p>1 protein; Extra Rice and Meat</p>

<h3>Burrito Azteca</h3>
<p>Two Proteins, Beans, Cheese, Lettuce, Tomato, Avocado, Sour Cream</p>

<h3>Sides</h3>
<p>Chips and Salsa</p>
<p>Beans and Rice</p>

<h3>Extras</h3>
<p>Avocado</p>
<p>Cheese/Sour Cream</p>
</div>



<div class="menucolumn2">
<h2>Tortas</h2>




