<div class="logo_container">
	<img id="left" src="star.gif">
	<img id="left" src="star.gif">
	<h1>Aztec Dave's</h1>
	<img id="right" src="star.gif">
	<img id="right" src="star.gif">
	<h4>Taco Truck</h4>
</div>



<ul>
	<li><a href="/">Home</a></li>
	<li><a href="/menu">Menu</a></li>
	<li><a href="/calendar">Find Us</a></li>
	<li><a href="/contact">Contact</a><li>
</ul>


<div class="footer">
	<a href="http://facebook.com/AztecDaves"><img src="fb.svg"></a>
	<a href="http://twitter.com/Aztec_Daves"><img src="twitter.svg"></a>
	<a href="http://instagram.com/Aztec_Daves"><img src="insta.svg"></a>
</div>




