body {
	background-color: #FFF;
}

h1 {
	font-family: 'Lobster', cursive;
	color: #D72638;
	text-align: center;
	font-size: 55px;
	margin: 0;
}

img[src="ramon.jpg"] {
	width: 100%;
	height: auto;
}

h4 {
	margin: 0;
	font-size: 18px;
	text-align: center;
	font-family: 'Architects Daughter', cursive;
	color: #9AB87A;
}

ul {
	list-style-type: none;
	background-color: #FFF;
	width: 400px;
	font-family: 'Fira Sans';
	text-align: center;
	margin: 5px auto;
	padding:0;
}

li {
	display: inline;
}

li a {
	text-decoration: none;
	color: #14213D;
	padding: 15px;

}

li a:hover {
	color: #FE9000;
}

h2 {
	font-family:'Fira Sans', sans-serif;
	font-size: 26px;
	text-align: center;
	color: #9AB87A;
	margin-top: 20px;
}

h3 {
	font-family: 'Hind';
	font-size: ;
	text-align: center;
	color: #14213D;
}

.columnpress {
	float: left;
	width: 600px;
}

.link {
	font-family: 'Fira Sans';
	color: #D72638;
}
.link:hover {
	color: #FE9000;
}

.columnabt {
	float: left;
	width: 600px;
	margin-left: 40px;
	margin-bottom: 15px;
}

p {
	font-family: 'Hind', sans-serif;
	margin-bottom: 4px;
}

.footer {
	font-family: 'Hind', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: right;
}


img[src="fb.svg"], img[src="twitter.svg"], img[src="insta.svg"] {
	height: 40px;
	padding: 10px;
}

img[src="fb.svg"]:hover {
	opacity: 0.5;
}

img[src="twitter.svg"]:hover {
	opacity: 0.5;
}

img[src="insta.svg"]:hover {
	opacity: 0.5;
}


.columnpress img[src="taco.png"] {
	height: 100px;
	padding: 5px;
	margin-top:15px;
}

.columnpress img[src="truck.png"]{
	height: 100px;
	margin-top: 15px;
}

.columnpress img[src="mexico.png"]{
	height: 100px;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.form-style-1 {
    margin:10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 label{
	color: #D8CF91;
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}

.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: tomato;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
}

.form-style-1 .required{
    color:red;
}

.fontm {
	font-family: Arial;

}

.modal {
	display: none;
	position: fixed;
	margin-left: 450px;
	width: 30%;
	height: 30%;
	background-color: rgba(40, 20, 160, 0.65);
	border-style: solid;
	border-color: grey;
	z-index: 1;
	overflow: auto;
}

.closeBtn{
  color:#ccc;
  float: right;
  font-size:18px;
  color: grey;
  font-family: 'Open Sans Condensed';
 }

#useremail {
	max-width: 300px;
	margin-left: 80px;
}




